{% extends 'base.html' %}
{% block title%}agregar Tarea{% endblock title %}
{% block seccion1 %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <table width="100%">
                <form action="{% url 'addTask' %}" method="post">
                    {% csrf_token %}
                <tr>

                    <th>Tarea: <input type="text" name="task" value="" class="form-control"></th>

                    <th>Categoria:
                        <select name="category" id="" class="form-control">
                            <option value="desarrollo">Desarrollo</option>
                            <option value="comunidad">Comunidad</option>
                        </select>
                    </th>
                </tr>
                <tr>
                    <th>inicio: <input type="date" name="date_init" value="" required class="form-control"></th>
                    <th>Fin: <input type="date" name="date_finish" value="" required class="form-control"></th>
                </tr>

                <tr>


                    <th>Estado:
                        <select name="state" id="" class="form-control">
                            <option value="ejecucion">Ejecucion</option>
                            <option value="terminacion">Terminacion</option>
                        </select>
                    </th>
                    <td><input type="submit" value="Guardar" class="btn-info"></td>
                </tr>
                </form>
            </table>
        </div>
    </div>
</div>
{% endblock seccion1 %}

{% block seccion2 %}
{% endblock %}
{% block seccion3 %}
{% endblock %}
{% block seccion4 %}
{% endblock %}
{% block seccion5 %}
{% endblock %}