{% extends 'base.html' %}
{% block title%}asignar tareas{% endblock title %}
{% block seccion1 %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="/asing_task_user?id={{ id }}" class="btn btn-success">Asignar Tareas</a>
            <legend>Asignar tareas</legend>

            <form action="{% url 'asing_task_user_asing' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ id }}" name="id_user">
                <select name="id_task" id="" class="form-control">
                    {% for stat in statement %}
                    <option value="{{ stat.id }}">{{ stat.task }}</option>
                    {% endfor %}
                </select>

                <input type="submit" value="Asignar ya" class="btn btn-info">
            </form>



        </div>
    </div>
</div>
{% endblock seccion1 %}

{% block seccion2 %}
{% endblock %}
{% block seccion3 %}
{% endblock %}
{% block seccion4 %}
{% endblock %}
{% block seccion5 %}
{% endblock %}