{% extends 'base.html' %}
{% block title%}Tarea{% endblock title %}
{% block seccion1 %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if statement %}
                {% for state in statement %}
            <table width="100%">
                <form action="{% url 'editTaskFull' %}" method="post">
                    {% csrf_token %}
                <tr>
                    <input type="hidden" name="id" value="{{ state.id }}">
                    <th>Tarea: <input type="text" name="task" value="{{ state.task }}"></th>

                    <th>Categoria:
                        <select name="category" id="">
                            <option value="{{ state.category }}">{{ state.category }}</option>
                            <option value="desarrollo">Desarrollo</option>
                            <option value="comunidad">Comunidad</option>
                        </select>
                    </th>
                </tr>
                <tr>
                    <th>inicio: {{ state.date_init }} <input type="date" name="date_init" value="{{ state.date_init }}" required></th>
                    <th>Fin: {{ state.date_finish }} <input type="date" name="date_finish" value="{{ state.date_finish }}" required></th>
                </tr>

                    <th>Estado</th>
                    <th></th>
                    <th></th>
                </tr>

                <tr>


                    <th>Estado:
                        <select name="state" id="">
                            <option value="{{ state.state }}">{{ state.state }}</option>
                            <option value="ejecucion">Ejecucion</option>
                            <option value="terminacion">Terminacion</option>
                        </select>
                    </th>
                    <td><input type="submit" value="Guardar"></td>
                </tr>
                </form>
            </table>
            {% endfor %}
                {% else %}
                <h4>no tienes tareas</h4>
                {% endif %}
        </div>
    </div>
</div>
{% endblock seccion1 %}

{% block seccion2 %}
{% endblock %}
{% block seccion3 %}
{% endblock %}
{% block seccion4 %}
{% endblock %}
{% block seccion5 %}
{% endblock %}